# Node.js
node_modules/

# Next.js
.next/
next-env.d.ts

# IDEs
.idea/
.vscode/

# Logs
logs/
*.log

# Build
dist/
build/

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
/jspm_packages/
/bower_components/

# Output of 'npm pack'
*.tgz

# Yarn
.yarn
yarn-error.log
.pnp.*
.env.local
.env.production.local
.env.test.local

# Typescript
*.tsbuildinfo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB/
.AppleDesktop/
Network Trash Folder/
Temporary Items/
.apdisk

# Jest
coverage/

# Custom
/custom_directory/
