/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/Counter/counter.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.counter_row__B3qUe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter_row__B3qUe > button {
  margin-left: 4px;
  margin-right: 8px;
}

.counter_row__B3qUe:not(:last-child) {
  margin-bottom: 16px;
}

.counter_value__M9oHS {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.counter_button__BxIXa {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.counter_textbox__0PevM {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.counter_button__BxIXa:hover,
.counter_button__BxIXa:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.counter_button__BxIXa:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.counter_asyncButton__WGCmg {
  position: relative;
}

.counter_asyncButton__WGCmg:after {
  content: '';
  background-color: rgba(112, 76, 182, 0.15);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.counter_asyncButton__WGCmg:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}

